<div class="jumbotron">
  <h1>RepoStars</h1>
  <p>Github Popularity Ranking</p>
  <br>
  <p>
    <a href="/auth/github" class="btn btn-lg btn-primary" role="button">
      Login with GitHub
    </a>
  </p>
</div>
